USE [AccountingDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[UserMobile] [nvarchar](max) NULL,
	[Endpoint] [nvarchar](max) NULL,
	[Method] [nvarchar](max) NULL,
	[RequestBody] [nvarchar](max) NULL,
	[ResponseStatus] [nvarchar](max) NULL,
	[ClientIP] [nvarchar](max) NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AccountGroup]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AccountGroup](
	[id_Group] [int] IDENTITY(1,1) NOT NULL,
	[Compny_id] [int] NOT NULL,
	[Code_Group] [nvarchar](max) NOT NULL,
	[Name_Group] [nvarchar](max) NOT NULL,
	[Nature_Group] [nvarchar](max) NOT NULL,
	[type_Group] [nvarchar](max) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_tbl_AccountGroup] PRIMARY KEY CLUSTERED 
(
	[id_Group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AccountGroupHistory]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AccountGroupHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OriginalId] [int] NOT NULL,
	[Compny_id] [int] NOT NULL,
	[Code_Group] [nvarchar](max) NOT NULL,
	[Name_Group] [nvarchar](max) NOT NULL,
	[Nature_Group] [nvarchar](max) NOT NULL,
	[type_Group] [nvarchar](max) NOT NULL,
	[ActionType] [nvarchar](max) NOT NULL,
	[ActionDate] [datetime2](7) NOT NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_tbl_AccountGroupHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AccountKolHistory]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AccountKolHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OriginalId] [int] NOT NULL,
	[Group_id] [int] NOT NULL,
	[Code_kol] [nvarchar](max) NOT NULL,
	[Name_kol] [nvarchar](max) NOT NULL,
	[ActionType] [nvarchar](max) NOT NULL,
	[ActionDate] [datetime2](7) NOT NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_tbl_AccountKolHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AccountMoeinHistory]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AccountMoeinHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OriginalId] [int] NOT NULL,
	[kol_id] [int] NOT NULL,
	[Code_moein] [nvarchar](max) NOT NULL,
	[Name_moein] [nvarchar](max) NOT NULL,
	[ActionType] [nvarchar](max) NOT NULL,
	[ActionDate] [datetime2](7) NOT NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_tbl_AccountMoeinHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AccountTafziliHistory]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AccountTafziliHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OriginalId] [int] NOT NULL,
	[moein_id] [int] NOT NULL,
	[tafzili_id] [int] NULL,
	[Code_tafzili] [nvarchar](max) NOT NULL,
	[Name_tafzili] [nvarchar](max) NOT NULL,
	[ActionType] [nvarchar](max) NOT NULL,
	[ActionDate] [datetime2](7) NOT NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_tbl_AccountTafziliHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AuditLogs]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AuditLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[UserMobile] [nvarchar](max) NULL,
	[Endpoint] [nvarchar](max) NULL,
	[Method] [nvarchar](max) NULL,
	[RequestBody] [nvarchar](max) NULL,
	[ResponseStatus] [nvarchar](max) NULL,
	[ClientIP] [nvarchar](max) NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_tbl_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Company]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Company](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NationalId] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Y] [nvarchar](max) NULL,
	[Tel] [nvarchar](max) NULL,
	[RegisteredByUserId] [int] NOT NULL,
	[RegisterDate] [datetime2](7) NOT NULL,
	[DisableDate] [datetime2](7) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[X] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_Company] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_CompanyDatabases]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CompanyDatabases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[ServerName] [nvarchar](200) NULL,
	[DatabaseName] [nvarchar](200) NULL,
	[UserId] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[ConnectionString] [nvarchar](1000) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_CompanyDatabases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_CompanyHistories]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CompanyHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OriginalId] [int] NOT NULL,
	[NationalId] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[X] [nvarchar](max) NULL,
	[Y] [nvarchar](max) NULL,
	[Tel] [nvarchar](max) NULL,
	[DeletedByUserId] [int] NULL,
	[DeletedDate] [datetime2](7) NOT NULL,
	[OperationType] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_CompanyHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_DatabaseHistories]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DatabaseHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OriginalId] [int] NOT NULL,
	[DbName] [nvarchar](max) NULL,
	[Number] [nvarchar](max) NULL,
	[Memo] [nvarchar](max) NULL,
	[RegisterDate] [datetime2](7) NOT NULL,
	[DisableDate] [datetime2](7) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[DeletedByUserId] [int] NULL,
	[DeletedAt] [datetime2](7) NOT NULL,
	[OperationType] [nvarchar](max) NULL,
	[CompanyId] [int] NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[FinancialYear] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_DatabaseHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Databases]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Databases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DbName] [nvarchar](max) NULL,
	[Number] [nvarchar](max) NULL,
	[Memo] [nvarchar](max) NULL,
	[RegisterDate] [datetime2](7) NOT NULL,
	[DisableDate] [datetime2](7) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[CompanyId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Databases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Document]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Document](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[DocumentNumber] [nvarchar](450) NOT NULL,
	[DocumentDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsBalanced] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tbl_Document] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_DocumentHistory]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DocumentHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OriginalId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[DocumentNumber] [nvarchar](max) NOT NULL,
	[DocumentDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
	[IsBalanced] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ActionType] [nvarchar](max) NOT NULL,
	[ActionDate] [datetime2](7) NOT NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_tbl_DocumentHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_DocumentRow]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DocumentRow](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NOT NULL,
	[Debit] [decimal](18, 2) NOT NULL,
	[Credit] [decimal](18, 2) NOT NULL,
	[RowDescription] [nvarchar](max) NOT NULL,
	[RowNumber] [int] NOT NULL,
	[tafzili_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_DocumentRow] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_KolAccount]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_KolAccount](
	[id_kol] [int] IDENTITY(1,1) NOT NULL,
	[Group_id] [int] NOT NULL,
	[Code_kol] [nvarchar](max) NOT NULL,
	[Name_kol] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tbl_KolAccount] PRIMARY KEY CLUSTERED 
(
	[id_kol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MoeinAccount]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MoeinAccount](
	[id_moein] [int] IDENTITY(1,1) NOT NULL,
	[kol_id] [int] NOT NULL,
	[Code_moein] [nvarchar](max) NOT NULL,
	[Name_moein] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tbl_MoeinAccount] PRIMARY KEY CLUSTERED 
(
	[id_moein] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_TafziliAccount]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TafziliAccount](
	[moein_id] [int] NOT NULL,
	[Code_tafzili] [nvarchar](max) NOT NULL,
	[Name_tafzili] [nvarchar](max) NOT NULL,
	[id_tafzili] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tbl_TafziliAccount] PRIMARY KEY CLUSTERED 
(
	[id_tafzili] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mobile] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[RegisterDate] [datetime2](7) NOT NULL,
	[DisableDate] [datetime2](7) NULL,
	[DeleteDate] [datetime2](7) NULL,
 CONSTRAINT [PK_tbl_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserCompany]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserCompany](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mobile] [nvarchar](max) NULL,
	[CompanyId] [int] NOT NULL,
	[DatabaseId] [int] NULL,
	[RegisterDate] [datetime2](7) NOT NULL,
	[DisableDate] [datetime2](7) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[IsOwner] [bit] NOT NULL,
	[CanSelect] [bit] NOT NULL,
	[CanInsert] [bit] NOT NULL,
	[CanUpdate] [bit] NOT NULL,
	[CanDelete] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_UserCompany] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserHistories]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OriginalId] [int] NOT NULL,
	[Mobile] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[RegisterDate] [datetime2](7) NOT NULL,
	[DisableDate] [datetime2](7) NULL,
	[DeleteDate] [datetime2](7) NULL,
	[DeletedByUserId] [int] NULL,
	[DeletedAt] [datetime2](7) NOT NULL,
	[OperationType] [nvarchar](max) NULL,
	[CompanyId] [int] NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_UserHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserToken]    Script Date: 7/8/2026 6:27:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TokenHash] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_UserToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Company] ADD  DEFAULT (getdate()) FOR [RegisterDate]
GO
ALTER TABLE [dbo].[tbl_Databases] ADD  DEFAULT (getdate()) FOR [RegisterDate]
GO
ALTER TABLE [dbo].[tbl_Databases] ADD  DEFAULT ((1)) FOR [CompanyId]
GO
ALTER TABLE [dbo].[tbl_Document] ADD  DEFAULT (N'') FOR [DocumentType]
GO
ALTER TABLE [dbo].[tbl_DocumentRow] ADD  DEFAULT ((0)) FOR [tafzili_id]
GO
ALTER TABLE [dbo].[tbl_User] ADD  DEFAULT (getdate()) FOR [RegisterDate]
GO
ALTER TABLE [dbo].[tbl_UserCompany] ADD  DEFAULT (getdate()) FOR [RegisterDate]
GO
ALTER TABLE [dbo].[tbl_AccountGroup]  WITH CHECK ADD  CONSTRAINT [FK_tbl_AccountGroup_tbl_Company_Compny_id] FOREIGN KEY([Compny_id])
REFERENCES [dbo].[tbl_Company] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_AccountGroup] CHECK CONSTRAINT [FK_tbl_AccountGroup_tbl_Company_Compny_id]
GO
ALTER TABLE [dbo].[tbl_Company]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Company_tbl_User_RegisteredByUserId] FOREIGN KEY([RegisteredByUserId])
REFERENCES [dbo].[tbl_User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Company] CHECK CONSTRAINT [FK_tbl_Company_tbl_User_RegisteredByUserId]
GO
ALTER TABLE [dbo].[tbl_CompanyDatabases]  WITH CHECK ADD  CONSTRAINT [FK_tbl_CompanyDatabases_tbl_Company_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[tbl_Company] ([Id])
GO
ALTER TABLE [dbo].[tbl_CompanyDatabases] CHECK CONSTRAINT [FK_tbl_CompanyDatabases_tbl_Company_CompanyId]
GO
ALTER TABLE [dbo].[tbl_Document]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Document_tbl_Company_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[tbl_Company] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Document] CHECK CONSTRAINT [FK_tbl_Document_tbl_Company_CompanyId]
GO
ALTER TABLE [dbo].[tbl_DocumentRow]  WITH CHECK ADD  CONSTRAINT [FK_tbl_DocumentRow_tbl_Document_DocumentId] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[tbl_Document] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_DocumentRow] CHECK CONSTRAINT [FK_tbl_DocumentRow_tbl_Document_DocumentId]
GO
ALTER TABLE [dbo].[tbl_DocumentRow]  WITH CHECK ADD  CONSTRAINT [FK_tbl_DocumentRow_tbl_TafziliAccount_tafzili_id] FOREIGN KEY([tafzili_id])
REFERENCES [dbo].[tbl_TafziliAccount] ([id_tafzili])
GO
ALTER TABLE [dbo].[tbl_DocumentRow] CHECK CONSTRAINT [FK_tbl_DocumentRow_tbl_TafziliAccount_tafzili_id]
GO
ALTER TABLE [dbo].[tbl_KolAccount]  WITH CHECK ADD  CONSTRAINT [FK_tbl_KolAccount_tbl_AccountGroup_Group_id] FOREIGN KEY([Group_id])
REFERENCES [dbo].[tbl_AccountGroup] ([id_Group])
GO
ALTER TABLE [dbo].[tbl_KolAccount] CHECK CONSTRAINT [FK_tbl_KolAccount_tbl_AccountGroup_Group_id]
GO
ALTER TABLE [dbo].[tbl_MoeinAccount]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MoeinAccount_tbl_KolAccount_kol_id] FOREIGN KEY([kol_id])
REFERENCES [dbo].[tbl_KolAccount] ([id_kol])
GO
ALTER TABLE [dbo].[tbl_MoeinAccount] CHECK CONSTRAINT [FK_tbl_MoeinAccount_tbl_KolAccount_kol_id]
GO
ALTER TABLE [dbo].[tbl_TafziliAccount]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TafziliAccount_tbl_MoeinAccount_moein_id] FOREIGN KEY([moein_id])
REFERENCES [dbo].[tbl_MoeinAccount] ([id_moein])
GO
ALTER TABLE [dbo].[tbl_TafziliAccount] CHECK CONSTRAINT [FK_tbl_TafziliAccount_tbl_MoeinAccount_moein_id]
GO
ALTER TABLE [dbo].[tbl_UserCompany]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserCompany_tbl_Company_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[tbl_Company] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_UserCompany] CHECK CONSTRAINT [FK_tbl_UserCompany_tbl_Company_CompanyId]
GO
ALTER TABLE [dbo].[tbl_UserCompany]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserCompany_tbl_Databases_DatabaseId] FOREIGN KEY([DatabaseId])
REFERENCES [dbo].[tbl_Databases] ([Id])
GO
ALTER TABLE [dbo].[tbl_UserCompany] CHECK CONSTRAINT [FK_tbl_UserCompany_tbl_Databases_DatabaseId]
GO
ALTER TABLE [dbo].[tbl_UserToken]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserToken_tbl_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[tbl_User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_UserToken] CHECK CONSTRAINT [FK_tbl_UserToken_tbl_User_UserId]
GO
